{% extends 'header.html' %} {% block content %}

<section class="banner-bottom py-5" style="background-color: white;">
    <div class="container">
        <div class="content-grid">
            <div class="text-center icon">
                <span class="fa fa-user-circle-o"></span>
            </div>
            <div class="content-bottom">
                <form action="/changepassword2/" method="POST">
                    {% csrf_token %}
                    <div class="field-group">

                        <div class="content-input-field">
                            <input name="oldpassword" id="oldpassword" type="password" value="" placeholder="password" required="">
                        </div>
                        <div class="content-input-field">
                            <input name="newpass" id="newpass" type="password" value="" placeholder="new password" required="">
                            <i class="bi bi-eye-slash" id="togglePassword"></i>
                        </div>
                        {{error}}
                        {{success}}

                    </div>
                    <div class="content-input-field">
                        <button type="submit" class="btn">Sign Up</button>
                    </div>
                    </form>
                    </div>
                    </div>
                    </div>
            


{% endblock %}