{% extends 'header.html' %} {% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    
function mailvalidation()
		{
        var mail=document.getElementById('f_email').value;
		alert("adsuygaud")
		  $.ajax({
			url:'/mailchecking/',
			data:
            
			{
			  'a':mail,

			},
			datatype: 'json',
			success: function(msg)
			{ 
                if(msg.Message=="TRUE")
			 { 
                
                document.getElementById('notavailable').style.display="none";
			  document.getElementById('available').style.display="block"
		     }
			  else
			 {
				 document.getElementById('available').style.display="none";
                //  document.getElementById('available').textContent=msg.cc
                document.getElementById('notavailable').style.display="block";
			}
			}
		
			});
		}

</script>

<section class="banner-bottom py-5" style="background-color: white;">
    <div class="container">
        <div class="content-grid">
            <div class="text-center icon">
                <span class="fa fa-user-circle-o"></span>
            </div>
            <div class="content-bottom">
                <form action="/forgotpass_seller/" method="POST">
                    {% csrf_token %}
                    <div class="field-group">

                        <div class="content-input-field">
                            <input name="f_email" id="f_email" type="email" value="" placeholder=" email" required="" onchange="mailvalidation()">
                            <p id="available" style="display: none;">eamil exist</p>
                            <p id="notavailable"style="display: none;">re enter the correct email</p>
                            
                            {{error}}
                        </div>
                    </div>
                    <div class="content-input-field">
                        <button type="submit" class="btn">Sign Up</button>
                    </div>
                    </form>
                    </div>
                    </div>
                    </div>
                    </section>
                    


{% endblock %}