
  {% extends 'header.html' %} {% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

   
    <script>
           
  function checkUsername() {
    var username = document.getElementById("username").value;
    var errorMsg = document.getElementById("s_name_validator");
    
    
    
    $.ajax({
        
      url: '/view/',
      data:
      {
          
        'username': username
      },
      datatype: 'json',
      success: function (msg) {
        errorMsg.style.display = "inline";
        if (msg.Message === "Username already Taken") {
          errorMsg.style.color = "red";
          errorMsg.textContent = `${msg.Message}`;
          
        }
        else {
          errorMsg.style.color = "green";
          errorMsg.textContent = `${msg.Message}`;
         
        }
      }
    });
  }

    </script>
    <script>
function ValidateEmail()
{   
    var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
    var mail=document.getElementById("email").value;
    if(mail.match(mailformat))
    {
    alert("Valid email address!");
    document.getElementById("btnn").removeAttribute('disabled');
    }
    else    
    {
    alert("You have entered an invalid email address!");

    }      
}
    </script>



    <!-- //banner-->
    <!--/login -->
    <section class="banner-bottom py-5 " style="background-color: white;">
        <div class="container">
            <div class="content-grid">
                <div class="text-center icon">
                    <span class="fa fa-user-circle-o"></span>
                </div>
                <div class="content-bottom">
                    <form action="/registeration/" method="POST">
                        {% csrf_token %}
                        <div class="field-group">

                            <div class="content-input-field">
                                <input name="name" id="name" type="text" value="" placeholder=" Name" required="">
                            </div>
                        </div>
                        <div class="field-group">

                            <div class="content-input-field">
                                <input name="username" id="username" type="text" value="" placeholder="User name" onchange="checkUsername()"required="">
                                <p id="s_name_validator"></p>
                            </div>
                        </div>
                        <div class="field-group">

                            <div class="content-input-field">
                                <input name="email" id="email" type="email" value="" placeholder="User Email" onchange="ValidateEmail()" required="">
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="content-input-field">
                                <input name="password" id="password" type="Password" placeholder="Password">
                            </div>
                        </div>
                        <div class="field-group">

                            <div class="content-input-field">
                                <input name="phone_no" id="phone_no" type="tel" value="" placeholder="UserPhone" required="">
                            </div>
                        </div>
                      
                        <div class="content-input-field">
                            <button type="submit" class="btn" id="btnn"disabled>Sign Up</button>
                        </div>
                        <div class="list-login-bottom text-center mt-lg-5 mt-4">

                            <a href="#" class="">By clicking Signup, I agree to your terms</a>



                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- /login -->
    <!--/shipping-->
    <section class="shipping-wthree">
        <div class="shiopping-grids d-lg-flex">
            <div class="col-lg-4 shiopping-w3pvt-gd text-center">
                <div class="icon-gd"><span class="fa fa-truck" aria-hidden="true"></span>
                </div>
                <div class="icon-gd-info">
                    <h3>FREE SHIPPING</h3>
                    <p>On all order over $2000</p>
                </div>
            </div>
            <div class="col-lg-4 shiopping-w3pvt-gd sec text-center">
                <div class="icon-gd"><span class="fa fa-bullhorn" aria-hidden="true"></span></div>
                <div class="icon-gd-info">
                    <h3>FREE RETURN</h3>
                    <p>On 1st exchange in 30 days</p>
                </div>
            </div>
            <div class="col-lg-4 shiopping-w3pvt-gd text-center">
                <div class="icon-gd"> <span class="fa fa-gift" aria-hidden="true"></span></div>
                <div class="icon-gd-info">
                    <h3>MEMBER DISCOUNT</h3>
                    <p>Register &amp; save up to $29%</p>
                </div>

            </div>
        </div>

    </section>
    {% endblock %}
