
{% extends 'header.html' %} {% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


 <script>   
function checkUsername() {
    var username = document.getElementById("s_username").value;
    var errorMsg = document.getElementById("s_name_validator");
    
    
    
    $.ajax({
        
      url: '/views/',
      data:
      {
          
        'username': username
      },
      datatype: 'json',
      success: function (msg) {
        errorMsg.style.display = "inline";
        if (msg.Message === "Username already Taken") {
          errorMsg.style.color = "red";
          errorMsg.textContent = `${msg.Message}`;
          
        }
        else {
          errorMsg.style.color = "green";
          errorMsg.textContent = `${msg.Message}`;
         
        }
      }
    });
  }

    </script>
    <script>
function ValidateEmail()
{   
    var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
    var mail=document.getElementById("s_email").value;
    if(mail.match(mailformat))
    {
    alert("Valid email address!");
    document.getElementById("btnn").removeAttribute('disabled');
    }
    else    
    {
    alert("You have entered an invalid email address!");

    }      
}
    </script>

<section class="banner-bottom py-5" style="background-color: white;">
    <div class="container">
        <div class="content-grid">
            <div class="text-center icon">
                <span class="fa fa-user-circle-o"></span>
            </div>
            <div class="content-bottom">
                <form action="/seller_reg/" method="POST">
                    {% csrf_token %}
                    <div class="field-group">

                        <div class="content-input-field">
                            <input name="s_name" id="s_name" type="text" value="" placeholder=" Name" required="">
                        </div>
                    </div>
                    <div class="field-group">

                        <div class="content-input-field">
                            <input name="s_username" id="s_username" type="text" value="" placeholder="User name"  onchange="checkUsername()"required="">
                            <p id="s_name_validator"></p>
                        </div>
                    </div>
                    <div class="field-group">
                        <div class="content-input-field">
                            <input name="s_password" id="s_password" type="Password" placeholder="Password">
                        </div>
                    </div>
                    <div class="field-group">

                        <div class="content-input-field">
                            <input name="s_email" id="s_email" type="email" value="" placeholder="User Email" onchange="ValidateEmail()"required="">
                        </div>
                    </div>
                   
                    <div class="field-group">

                        <div class="content-input-field">
                            <input name="s_phone_no" id="s_phone_no" type="tel" value="" placeholder="UserPhone" required="">
                        </div>
                    </div>
                  
                    <div class="content-input-field">
                        <button type="submit" class="btn" id="btnn" disabled>Sign Up</button>
                    </div>
                    <div class="list-login-bottom text-center mt-lg-5 mt-4">

                        <a href="#" class="">By clicking Signup, I agree to your terms</a>



                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}