
{% extends 'header.html' %} {% block content %}

<section class="banner-bottom py-5" style="background-color: white;">
    <div class="container">
        <div class="content-grid">
            <div class="text-center icon">
                <span class="fa fa-user-circle-o"></span>
            </div>
            <div class="content-bottom">
            {% for x in seller %}
                <form action="/seller_update/" method="POST">
                    {% csrf_token %}
                    <div class="field-group">

                        <div class="content-input-field">
                            <input name="sid" id="sid" type="hidden" value="{{x.sid}}" placeholder=" Name" required="">
                        </div>
                    </div>



                    <div class="field-group">

                        <div class="content-input-field">
                            <input name="s_name" id="s_name" type="text" value="{{x.s_name}}" placeholder=" Name" required="">
                        </div>
                    </div>
                    <div class="field-group">

                        <div class="content-input-field">
                            <input name="s_username" id="s_username" type="text" value="{{x.s_username}}" placeholder="User name" required="">
                        </div>
                    </div>
                    <div class="field-group">

                        <div class="content-input-field">
                            <input name="s_email" id="s_email" type="email" value="{{x.s_email}}" placeholder="User Email" required="">
                        </div>
                    </div>
                   
                    <div class="field-group">

                        <div class="content-input-field">
                            <input name="s_phone_no" id="s_phone_no" type="tel" value="{{x.s_phone_no}}" placeholder="UserPhone" required="">
                        </div>
                    </div>
                    <div class="content-input-field">
                       <button class="btn" ><a href="/changepass/" style="color: white;">change password</a></button>
                    </div>

                        
                    <div class="content-input-field">
                        <button type="submit" class="btn">Update</button>
                    </div>
                    <div class="list-login-bottom text-center mt-lg-5 mt-4">

                        <a href="#" class="">By clicking Signup, I agree to your terms</a>



                    </div>
                </form>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</section>

{% endblock %}