{% extends 'header.html' %} {% block content %}

    <section class="banner-bottom py-5" style="background-color:white;">
        <div class="container">
            <div class="content-grid">
                <div class="text-center icon">
                    <span class="fa fa-unlock-alt"></span>
                </div>
                <div class="content-bottom">
                    <form action="/seller_login/" method="POST">
                        {% csrf_token %}
                        <div class="field-group">

                            <div class="content-input-field">
                                <input name="username" id="username" type="text" value="" placeholder="User Name" required="">
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="content-input-field">
                                <input name="password" id="password" type="Password" placeholder="Password">
                            </div>
                        </div>
                        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                        <div class="content-input-field">
                            <button type="submit" class="btn" >Sign In</button>
                        </div>
                        <p id='error'>{{error}}</p>
                        <p id="approval">{{app}}</p>
                        <ul class="list-login">
                            <li class="switch-slide">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                    keep Logged in
                                </label>
                            </li>
                            <li>
                                <a href="/forgotpass_seller/" class="text-right">Forgot password?</a>
                            </li>
                            <li class="clearfix"></li>
                        </ul>
                        <ul class="list-login-bottom">
                            <li class="">
                                <a href="/seller_reg/" class="">Don't have an Account?</a>
                            </li>
                            <li class="">
                                <a href="#" class="text-right">Need Help?</a>
                            </li>
                            <li class="clearfix"></li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </section>
 
    {% endblock %}
   